body {
  margin: auto;
  background-image: url('bitmaps/132.png');
  background-repeat: repeat-y repeat-x;
}

h1 {
  color:white;
  text-align: center;
  }

h2 {
  color:white;
  text-align: center;
}

h3 {
  color:white;
  text-align: center;
}

li {
  text-align:left;
  color:LawnGreen;
}
ul {
  list-style-position: inside;
}


em {
  font-size:large;
  font-weight:400;
  color:yellow;
  font-style: normal;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  color:white;
}

p {
  color:white;
}

div {
  color:white
}
